
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
header{
    background-color: #F3FCF7;
    height: 600px;
}

ul li{
    list-style: none;
    display: inline-block;
   padding: 20px;
}
li a{
    text-decoration: none;
    color: black;
}
.navber{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 20px;
}
.logo a{
    color: #06C167;
    text-decoration: none;
}
.banner-container{
   max-width: 1140px;
   margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
   
   
}
.banner-title{
   width: 480px;
   margin-top: 95px;
}
.banner-title h1{
   font-family: "Inter", sans-serif;
   font-size:60px ;
   
  font-style: bold;
   
}
.banner-title p{
    font-family: "Inter", sans-serif;
   font-size:16px ;
  padding: 30px 0px;
  
}
               
button{
    background-color: #06C167;
   
    padding: 8px 35px;
    border: none;
    
    
   
}
button i{
    padding: 15px;

   
}
button a{
     color: #fff;
     text-decoration: none;
     font-family: "Inter", sans-serif;
     font-size:16px ;
}

.banner-img {
   position: relative;
   top: 40px;
   padding-right: 50px;
 
}
.rating{
    width: 230px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    position: absolute;
    top: 45%;
    left: -18%;
    

}
.icon{
    color: #06C167;
}
.Product{
    width: 220px;
    height: 40px;
    background-color: #fff;
    display: flex;
  
    align-items: center;
    gap: 20px;
    padding: 10px 8px;
    border-radius: 20px;
    position: absolute;
    top: 32%;
    right: 0%;

}
.Product img{
     width: 30px;
     border-radius: 50%;
}

.brand-logo{
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   padding-top: 40px;
   gap: 80px;
   opacity: 40%;
   color: rgba(57, 65, 73, 1);
}
.logo1{
    letter-spacing: 2px;
    font-size: 16px;
}
.logo1 i{
    padding-right: 5px; 
}
.logo3{
   font-weight: bold;
   font-size: 18px;
 
}
.logo3 i{

   padding-right: 5px;
}
.logo2{
 
   font-size: 18px;
 
}
.logo2 i{

   padding-right: 5px;
}
 /* feature section*/

 .feature-section{
     max-width: 1140px;
     margin: 0 auto;
     height: 150px;
     width: 100%;
     background-color: #fff;
     margin-top: 150px;
     margin-bottom: 100px;
     /*box-shadow: 0px 2px 0px 2px rgba(112, 112, 112, 1);*/
      
 }
 .feature{
    display: flex;
    justify-content: space-between;
    padding: 50px 15px;
    align-items: center;
   
   
 }
 .icon1{
    display: flex;
    gap: 15px;
 }
 .icon2 p{
    width: 50px;
    height: 50px;
    background-color: #F3FCF7;
    text-align: center;
    padding-top: 15px;
    color: #06C167;
 }
hr{
    border: 1px solid rgba(112, 112, 112, 1);
    opacity: 15%;
}
.icon-info h3 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
 
    font-size: 16px;

    line-height: 100%;
    letter-spacing: 0%;
   color:  rgba(29, 29, 31, 1);

    padding-top: 5px;


}
.icon-info p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
 
    font-size: 13px;

    line-height: 100%;
    letter-spacing: 0%;

    color: gray;

    padding-top: 8px;


}

