
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
header{
    background-color: #F3FCF7;
    height: 600px;
}

ul li{
    list-style: none;
    display: inline-block;
   padding: 20px;
}
li a{
    text-decoration: none;
    color: black;
}
.navber{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 20px;
}
.logo a{
    color: #06C167;
    text-decoration: none;
}
.banner-container{
   max-width: 1140px;
   margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
   
   
}
.banner-title{
   width: 480px;
   margin-top: 95px;
}
.banner-title h1{
   font-family: "Inter", sans-serif;
   font-size:60px ;
   
  font-style: bold;
   
}
.banner-title p{
    font-family: "Inter", sans-serif;
   font-size:16px ;
  padding: 30px 0px;
  
}
               
button{
    background-color: #06C167;
   
    padding: 8px 35px;
    border: none;
    
    
   
}
button i{
    padding: 15px;

   
}
button a{
     color: #fff;
     text-decoration: none;
     font-family: "Inter", sans-serif;
     font-size:16px ;
}

.banner-img {
   position: relative;
   top: 40px;
 
}
.rating{
    width: 230px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    position: absolute;
    top: 45%;
    left: -20%;
    

}
.icon{
    color: #06C167;
}
.Product{
    width: 220px;
    height: 40px;
    background-color: #fff;
    display: flex;
  
    align-items: center;
    gap: 20px;
    padding: 10px 8px;
    border-radius: 20px;
    position: absolute;
    top: 32%;
    right: -8%;

}
.Product img{
     width: 30px;
     border-radius: 50%;
}

.Brand-logo{
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   padding-top: 40px;
   gap: 60px;
   opacity: 50%;
}